[elasticsearch-{{ elasticsearch_major_version }}.x]
name=Elasticsearch repository for {{ elasticsearch_major_version }}.x packages
baseurl=https://packages.elastic.co/elasticsearch/{{ elasticsearch_major_version }}.x/centos
gpgcheck=1
gpgkey=https://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
